* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #333;
}

.container {
    width: 400px;
    margin: 50px auto;
}

.login-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.login-card a img {
    position: relative;
    left: -12px;
}

h2 {
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 600;
}

p {
    margin-bottom: 20px;
    color: #666;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #333;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.forgot-password {
    display: block;
    margin-top: 5px;
    font-size: 12px;
    color: #307A59;
    text-align: left;
    text-decoration: none;
    font: bold;
}

.login-btn {
    width: 100%;
    padding: 12px;
    background-color: #307A59;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.signup-text {
    margin-top: 20px;
    font-size: 14px;
}

.signup-text a {
    color: #307A59;
    text-decoration: none;
}

.or-text {
    margin: 20px 0;
    font-size: 14px;
    color: #666;
}

.sign-in-option {
    display: flex;
    padding: 5px;
    margin-bottom: 15px;
    border-radius: 8px;
    background-color: #f0f0f0;
}

.sign-in-option img {
    margin-left: 40px;
}

.sign-in-option p {
    font-size: 14px;
    margin: 10px auto;
    text-align: center;
}

.sign-in-option:hover {
    background-color: #e0e0e0;
}

img {
    width: 20px;
    margin-left: 10px;
    position: relative;
    right: -60px;
}

.login-btn:hover {
    background-color: #50df9f;
    color: #fff;
}